body{
    background-color:rgb(42,47,50);
    font-family: 'Cabin', sans-serif;
    color: white;
}
.mennu{
	background-color: rgb(255,201,21);
	overflow: hidden;
	color: black;
}
.mennu a{
	float: left;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	padding: 10px 20px;
	color: black;
}
.mennu a:hover{
	background-color: black;
	color:rgb(255,201,21);
}
body#home a.home ,body#table  a.table ,body#list a.list,body#login a.login{
	background-color: rgb(42,47,50);
	color: rgb(255,201,21);
}
.navbar {
	overflow: hidden;
	background-color: #333;
  }
  
  .navbar a {
	float: left;
	color: rgb(255,201,21);
	text-align: center;
	text-decoration: none;
  }
  
  .dropdown {
	float: right;
	overflow: hidden;
  }
  .dropbtn{
	  width: 110px;
  }
  .dropdown .dropbtn { 
	border: none;
	outline: none;
	border-radius: 0%;
	color: black;
	background-color: rgb(255,201,21);
	font-size: 20px;
	padding: 10px 20px;
	width: 110px;
}
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: black;
	color: rgb(255,201,21);
  }
  
  .dropdown-content {
	display: none;
	position : absolute;
	background-color: rgb(42,47,50);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  .dropdown-content a:hover {
	background-color: rgb(42,47,50);
  }
  .dropdown:hover .dropdown-content {
	display: block;
  }
button{
	width:100%;
	border-radius: 5px;
	border:2px solid rgb(255,201,21);
	font-size:20px;
	padding:10px;
	cursor:pointer;
	background-color:rgb(255,201,21);
}
.both{
	position:absolute;
}
#next{
	right:10px;
}
#prev{
	left:10px;
}
.top td{
	width: 500px;
	height: 30px;
}
.top caption{
	float: left;
}
hr{
	width: 100%;
	color: rgb(255,201,21);
	box-shadow: none;
}
u{
	color: rgb(255,201,21);
}
.ts
{
	font-size: 17px;
}
.eq{
	border-color: rgb(42,47,50);
}
.eq th{
	background-color: black;
	color: rgb(255,201,21);
	width: 500px;
	height: 40px;
}
.eq td{
	background-color: rgb(255,201,21);
	color: black;
	width: 500px;
	height: 40px;
	text-align: center;
}
.wa{
	border-color: rgb(42,47,50);
}
.wa th{
	background-color: black;
	color: rgb(255,201,21);
	width: 500px;
	height: 40px;
}
.wa td{
	background-color: rgb(255,201,21);
	color: black;
	width: 500px;
	height: 40px;
	text-align: center;
}
.pd td{
	width: 500px;
	height: 30px;
}
img{
	width: 50px;
	height: 40px;
	border-radius: 20px;
}
td{
	height: 40px;
}
#b1{
	width: 50px;
}
#b2{
	width: 1400px;
}
#bb3{
	text-align: center;
}